XwsAgent/XwsAgent/Connected Services/BackendService/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://beans.soap.xws_proj.booking_site" xmlns:tns="http://beans.soap.xws_proj.booking_site" targetNamespace="http://beans.soap.xws_proj.booking_site" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://beans.soap.xws_proj.booking_site" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetLoginRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="email" type="xs:string" />
            <xs:element name="password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AgentDetails" type="tns:AgentDetails" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="AgentDetails">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="tin" type="xs:string" />
          <xs:element name="auth_token" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetLoginResponse">
    <wsdl:part name="GetLoginResponse" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginRequest">
    <wsdl:part name="GetLoginRequest" element="tns:GetLoginRequest" />
  </wsdl:message>
  <wsdl:portType name="LoginPort">
    <wsdl:operation name="GetLogin">
      <wsdl:input name="GetLoginRequest" message="tns:GetLoginRequest" />
      <wsdl:output name="GetLoginResponse" message="tns:GetLoginResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginPortSoap11" type="tns:LoginPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLogin">
      <soap:operation soapAction="" />
      <wsdl:input name="GetLoginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetLoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginPortService">
    <wsdl:port name="LoginPortSoap11" binding="tns:LoginPortSoap11">
      <soap:address location="http://localhost:8080/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>